
android/TrashUp/app/src/main/res/raw/vertex_ai_key.json
android/TrashUp/app/release/app-release.apk
android/TrashUp/app/release/baselineProfiles/0/app-release.dm
android/TrashUp/app/release/baselineProfiles/1/app-release.dm
android/TrashUp/app/release/output-metadata.json
